// Super Editor
.ContentEditable__root {
  // Headings
  .Lexical__h1 {
    &:not(:first-child) {
      margin-top: 1.2em;
    }

    margin-bottom: 0.5em;
  }

  .Lexical__h2 {
    &:not(:first-child) {
      margin-top: 1em;
    }

    margin-bottom: 0.35em;
  }

  .Lexical__h3 {
    &:not(:first-child) {
      margin-top: 0.7em;
    }

    margin-bottom: 0.2em;
  }

  .Lexical__listItem,
  .Lexical__paragraph {
    margin-bottom: 0.7em;
  }

  .Lexical__ul,
  .Lexical__ol1,
  .Lexical__ol2,
  .Lexical__ol3,
  .Lexical__ol4,
  .Lexical__ol5 {
    margin-bottom: 1.2em;
  }

  .Lexical__embedBlock {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  code, kbd, samp, pre {
    margin: 0.7em 0 1.3em 0;
    display: block;
  }
}
